			<div ng-controller="MapController" layout="row" layout-fill>
			
				<!--<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('min-width: 333px')" style="width: 35%;height:100%">-->
				<md-content style="width: 29%;height:100%">
					<md-tabs md-selected="selectedIndex" layout-fill>
						<md-tab label="Layers">
						<div ng-controller="LayersTabController">
							<md-tab-body>
								<md-content layout-padding style="background: #f6f6f6;border: 1px solid #e1e1e1;">
									<!--<form>-->
									
										<!-- uncomment to enable Show All
										<md-button ng-click="toggleShowAllGroups()" class="md-icon-button md-accent" style="margin-left:90%;" aria-label="ShowAll">
											<md-icon ng-if="data.showAll" md-font-icon="fa-list-ul"  class="fa" style="font-size:20px"></md-icon>
											<md-tooltip ng-if="data.showAll" md-direction="left" md-autohide="true">
												Show Active Groups
											</md-tooltip>
											<md-icon ng-if="!data.showAll" md-font-icon="fa-list"  class="fa" style="font-size:20px"></md-icon>
											<md-tooltip ng-if="!data.showAll" md-direction="left" md-autohide="true">
												Show All Groups
											</md-tooltip>
										</md-button>
										-->
										<md-accordion>
											<div ng-repeat="group in groups | filter: (data.showAll ? '' : {active:true})" ol-layer-properties="group">
												<md-accordion-group style="position:relative">
												<div layout="row"  style="width:100%;">
												
													<md-checkbox class="md-checkbox-small" style="position:absolute; top: 0px; left:0px;" ng-model="group.active" ng-change="groupActiveChange(group)" aria-label={{ group.name }}></md-checkbox>
													
													<md-accordion-content style="margin-left:30px" md-arrow="true" md-heading="{{ group.name }}" >
													
														<span flex=""></span>

														<!-- uncomment to enable Show All
														<md-button ng-click="toggleShowAllLayers(group)" class="md-icon-button md-accent" style="margin-left:85%;" aria-label="ShowAll">
															<md-icon ng-if="group.showAll" md-font-icon="fa-list-ul"  class="fa" style="font-size:20px"></md-icon>
															<md-tooltip ng-if="group.showAll" md-direction="left" md-autohide="true">
																Show Active Layers
															</md-tooltip>
															<md-icon ng-if="!group.showAll" md-font-icon="fa-list"  class="fa" style="font-size:20px"></md-icon>
															<md-tooltip ng-if="!group.showAll" md-direction="left" md-autohide="true">
																Show All Layers
															</md-tooltip>
														</md-button>
														-->
														
														<!--<div ng-repeat="layer in layers | filter:{group:group.name}" style="margin-left:10px">-->
														<!--<div ng-repeat="layer in layers | filter: (group.showAll ? {group:group.name} : {group:group.name, active:true}) | orderBy: '-active'" style="margin-left:10px">-->
														<div ng-repeat="layer in layers | filter: (group.showAll ? {group:group.name} : {group:group.name, active:true})" style="margin-left:10px">
															<div style="display:table;width:100%;height:10px">
																<div style="display:table-row">
																	<div style="display:table-cell;width:10%">
																		<md-checkbox class="md-checkbox-small"  ng-model="layer.visible" ng-change="layerActiveChange(layer)" aria-label={{ layer.name }}>
																		</md-checkbox>
																	</div>
																	<div style="display:table-cell;width:70%">
																		<span ng-if="toolsData.infoMode" ng-class="{'layer-name': layer.name !== layerSettingsData.queryLayer, 'layer-name-selected': layer.name === layerSettingsData.queryLayer}" ng-click="layerClicked(layer.name)">{{ layer.name }}</span>
																		<span ng-if="!toolsData.infoMode" class="layer-name">{{ layer.name }}</span>
																	</div>
																	<div style="display:table-cell;width:20%;">
																		<md-input-container class="md-opacity">
																			<input class="layer-name" style="width:6ch" id="opacity" type="number" min="0" max="1" step="0.01" ng-model="layer.opacity"/>
																			<md-tooltip md-direction="left">
																				Opacity
																			</md-tooltip>
																		</md-input-container>
																	</div>
																</div>
															
															
															</div>
														</div>
													</md-accordion-content>
												</div>
												</md-accordion-group>
												<md-divider></md-divider>
											</div>
										</md-accordion>
									<!--</form>-->
								</md-content>
							</md-tab-body>		
						</div>
						</md-tab>
						<md-tab label="Legend" >
							<md-tab-body >
								<md-content layout-padding style="background: #f6f6f6;border: 1px solid #e1e1e1;">
								<div ng-repeat="group in groups | filter: {name: '!Base Maps', active:true}" ol-layer-properties="group">
									{{group.name}}
									<div ng-repeat="layer in layers | filter: {group: group.name, visible:true}" style="margin-left:20px; margin-top:10px">
											<span class="layer-name">{{layer.name}}<span>
											<div ng-if="layer.source.type === 'ImageWMS' || layer.source.type === 'TileWMS'">
												<img ng-src="{{layer.source.legend_url}}"/>
											</div>
											<div ng-if="layer.source.type === 'TileArcGISRest'">
												<div ng-repeat="legendElement in layer.legend_json.layers[0].legend" >
													<img ng-src="data:image/png;base64, {{legendElement.imageData}}"/>
													{{legendElement.label}}
												</div>
											</div>
									</div>
									<md-divider style="margin-top:10px;"></md-divider>

								</div>
								</md-content>
							</md-tab-body>
						</md-tab>
						<md-tab label="Reports">
						<div ng-controller="ReportsTabController">
							<md-tab-body>
								<md-content layout="column" layout-padding style="background: #f6f6f6;border: 1px solid #e1e1e1;">
									<p>First, select an Area of Interest by pulling a bounding box (shift-click-drag) on the map. Then generate reports by clicking on the buttons below.</p>
									<md-button class="md-raised" style="text-align:left" ng-click="reportClicked($event, 'Contact')">
										<md-tooltip md-direction="right" md-autohide="true">
											Generate a list of management contacts in your Area of Interest.
										</md-tooltip>
										Contact
									</md-button>
									<md-button class="md-raised" style="text-align:left" ng-click="reportClicked($event, 'Military Encroachment')">
										<md-tooltip md-direction="right" md-autohide="true">
											Generate a list of military encroachment issues in your Area of Interest.
										</md-tooltip>
										Military Encroachment
									</md-button>
									<md-button class="md-raised" style="text-align:left" ng-click="reportClicked($event, 'Permitting')">
										<md-tooltip md-direction="right" md-autohide="true">
											Generate a list of permits that will be required in your Area of Interest.
										</md-tooltip>
										Permitting
									</md-button>
									<md-button class="md-raised" style="text-align:left" ng-click="reportClicked($event, 'Infrastructure')">
										<md-tooltip md-direction="right" md-autohide="true">
											Generate a list of infrastructure concerns in your Area of Interest.
										</md-tooltip>
										Infrastructure
									</md-button>
									<md-button class="md-raised" style="text-align:left" ng-click="reportClicked($event, 'Environmental')">
										<md-tooltip md-direction="right" md-autohide="true">
											Generate a list of environmental concerns in your Area of Interest.
										</md-tooltip>
										Environmental
									</md-button>
								</md-content>
							</md-tab-body>
						</div>
						</md-tab>
						<md-tab label="Results">
							<md-tab-body >
								<md-content layout-padding style="background: #f6f6f6;border: 1px solid #e1e1e1;">
									<p>Maecenas vel fermentum purus. Duis ac sagittis erat, non consequat felis. Nullam bibendum iaculis ante vel suscipit. Suspendisse tincidunt maximus purus nec scelerisque. Aliquam hendrerit, lacus non luctus auctor, metus dui tristique mauris, at sagittis neque sem et nisi. Vivamus ultricies efficitur ante. Nullam ipsum eros, pulvinar ut congue vitae, ornare vitae est. Sed suscipit a lorem at lacinia. Mauris eu ante dui. Sed diam nunc, ultricies non neque quis, facilisis sodales velit. Sed hendrerit facilisis odio scelerisque eleifend. Proin nec mi sit amet elit congue sodales sed sit amet erat. Aliquam commodo, lacus id vulputate volutpat, dolor nisi tincidunt ipsum, vitae sollicitudin odio justo sit amet sem. Sed non fermentum lacus. Vivamus ipsum nulla, tristique nec laoreet at, rhoncus in magna.</p>

									<p>Vivamus placerat velit ac justo hendrerit, ac dapibus metus efficitur. Donec gravida dui lectus, et feugiat odio tempor sed. Donec eu auctor mauris. Vestibulum maximus libero ac congue commodo. Integer tempor ante odio. Nullam sit amet ex pellentesque erat faucibus eleifend id in velit. Fusce tincidunt libero nunc, a aliquet nisi gravida ut. Vestibulum luctus tortor libero, eu venenatis ipsum tempus venenatis. Praesent non risus ac sapien convallis gravida vitae eget turpis. Cras eleifend odio et enim eleifend, sed vestibulum enim maximus. Sed volutpat augue in porttitor tristique.</p>

								</md-content>
							</md-tab-body>
						</md-tab>
					</md-tabs>
				<!--</md-sidenav>-->
				</md-content>
	
				<md-content style="width:71%;height:100%">
					<openlayers  width="71%" height="93%" ol-defaults="defaults" ol-center="center" custom-layers="true" style="position:fixed">
							<ol-control name="{{ control.name }}" ng-repeat="control in controls|filter: {active: true}"></ol-control>
							<ol-layer name="{{ layer.name }}" ol-layer-properties="layer" ng-repeat="layer in layers"></ol-layer>
					</openlayers>
					<div layout="row" style="position:absolute; top: 10px; right:1%;">
					<md-button ng-if="!toolsData.infoMode" class="md-primary md-raised md-small" ng-click="infoClicked()" >
						<md-icon md-font-icon="fa-info"  class="fa" style="font-size:25px">
							<md-tooltip md-direction="bottom" md-autohide="true">
								Enter feature query mode
							</md-tooltip>
						</md-icon>
					</md-button>
					<md-button ng-if="toolsData.infoMode" class="md-accent md-raised md-small" ng-click="infoClicked()">
						<md-icon md-font-icon="fa-info"  class="fa" style="font-size:25px">
							<md-tooltip md-direction="bottom" md-autohide="true">
								Leave query mode
							</md-tooltip>							
						</md-icon>
					</md-button>

					<md-button ng-if="!toolsData.bboxMode" class="md-primary md-raised md-small" ng-click="bboxClicked()" >
						<md-icon  class="material-icons md-primary" >
							aspect_ratio
							<md-tooltip md-direction="bottom" md-autohide="true">
								Specify Area of Interest using a bounding box
							</md-tooltip>
						</md-icon>
					</md-button>
					<md-button ng-if="toolsData.bboxMode" class="md-accent md-raised md-small" ng-click="bboxClicked()">
						<md-icon class="material-icons md-accent">
							aspect_ratio
							<md-tooltip md-direction="bottom" md-autohide="true">
								Leave bounding box mode
							</md-tooltip>							
						</md-icon>
					</md-button>

					<md-button ng-if="!toolsData.polyMode" class="md-primary md-raised md-small" ng-click="polyClicked()" >
						<md-icon  class="material-icons md-primary" >
							timeline
							<md-tooltip md-direction="bottom" md-autohide="true">
								Specify Area of Interest by drawing a polygon
							</md-tooltip>
						</md-icon>
					</md-button>
					<md-button ng-if="toolsData.polyMode" class="md-accent md-raised md-small" ng-click="polyClicked()">
						<md-icon class="material-icons md-accent">
							timeline
							<md-tooltip md-direction="bottom" md-autohide="true">
								Leave polygon mode
							</md-tooltip>							
						</md-icon>
					</md-button>
					</div>
					
					<div id="positionDisplay" class="ol-scale-line ol-unselectable" style="position:absolute; top: 96.5%; left:90%; visibility:hidden;"></div>
				</md-content>
			</div>	
