<div layout="column" layout-align="center center" layout-fill style="min-height:500px">
	<md-whiteframe class="md-whiteframe-12dp" style="padding: 1em 1em 1em 1em">
		<form name="loginForm">
			<md-input-container>
				<label>Username</label>
				<input name="username" ng-model="credentials.username" required>
				<div ng-messages="loginForm.username.$error">
					<div ng-message="required">Username is required</div>
				</div>
			</md-input-container><br/>
			<md-input-container>
				<label>Password</label>
				<input type="password" name="password" ng-model="credentials.password" required>
				<div ng-messages="loginForm.password.$error">
					<div ng-message="required">Password is required</div>
				</div>
			</md-input-container>
		</form>
		<md-button ng-click="login(credentials)" class="md-primary md-raised">Login</md-button>
	</md-whiteframe>
</div>
