<div layout="column" layout-padding layout-align="top center" layout-fill style="min-height:500px">
	<md-whiteframe ng-if="!showRegistration" class="md-whiteframe-12dp" style="padding: 1em 1em 1em 1em">
		<form name="loginForm">
			<md-input-container>
				<label>Username</label>
				<input name="username" ng-model="credentials.username" required>
				<div ng-messages="loginForm.username.$error">
					<div ng-message="required">Username is required</div>
				</div>
			</md-input-container><br/>
			<md-input-container>
				<label>Password</label>
				<input type="password" name="password" ng-model="credentials.password" required>
				<div ng-messages="loginForm.password.$error">
					<div ng-message="required">Password is required</div>
				</div>
			</md-input-container>
	
		</form>
		<md-button ng-click="login()" class="md-primary md-raised">Login</md-button>
		<md-button ng-click="register('show')" class="md-accent">Register</md-button><br/>
		<md-button ng-click="requestPWReset($event)" class="md-primary"  style="margin-top:30px">Forgot password</md-button>

	</md-whiteframe>

	<md-whiteframe id="registration" ng-if="showRegistration" class="md-whiteframe-12dp" style="padding: 1em 1em 1em 1em">
		<form name="registrationForm">
			<md-input-container style="margin-top: 10px">
				<label>Username</label>
				<input name="username" ng-model="credentials.username" required>
				<div ng-messages="registrationForm.username.$error">
					<div ng-message="required">Username is required</div>
				</div>
			</md-input-container><br/>
			<md-input-container>
				<label>Password</label>
				<input type="password" name="password" ng-model="credentials.password" required>
				<div ng-messages="registrationForm.password.$error">
					<div ng-message="required">Password is required</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Repeat Password</label>
				<input type="password" name="password2" ng-model="credentials.password2" required>
				<div ng-messages="registrationForm.password.$error">
					<div ng-message="required">Password is required</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>First name</label>
				<input name="firstname" ng-model="credentials.firstName" required>
				<div ng-messages="registrationForm.firstname.$error">
					<div ng-message="required">First name is required</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Last name</label>
				<input name="lastname" ng-model="credentials.lastName" required>
				<div ng-messages="registrationForm.lastname.$error">
					<div ng-message="required">Last name is required</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Email</label>
				<input name="email" ng-model="credentials.email" required>
				<div ng-messages="registrationForm.email.$error">
					<div ng-message="required">Email is required</div>
				</div>
			</md-input-container>
			<br/>
			<md-input-container>
				<label>Desired Role</label>
				<md-select name="desiredRole" ng-model="credentials.desiredRole">
					<md-option ng-repeat="role in roles" value="{{role.id}}">
						{{role.name}}
					</md-option>
				</md-select>
				<div ng-messages="registrationForm.desiredRole.$error">
					<div ng-message="required">Desired role is required</div>
				</div>
			</md-input-container>
		</form>
		<md-button ng-click="register('submit')" class="md-primary md-raised">Register</md-button>
		<md-button ng-click="register('cancel')" class="md-accent">Cancel</md-button>		
	</md-whiteframe>

		
</div>
