				<md-content>
					<md-header style="font-weight: bold">Additional Resources</md-header>
					<md-list class="md-dense" flex-xs>
						<md-list-item class="md-dense" >
						<div class="md-list-item-text" style="margin=0px;padding=0px;" layout="row">
								<a style="font-size: small;margin=0px;padding=0px;" target="_blank" href="http://cmluca.gis.ca.gov/">CMLUCA - California State Mapping Tool</a>
								</div>
						</md-list-item>
						<md-list-item class="md-dense">
							<div class="md-list-item-text" layout="column">
								<a style="font-size: small" target="_blank" href="http://ezmt.anl.gov/">EZMT - DOE - Energy Zones Mapping Tool</a>
							</div>
						</md-list-item>
						<md-list-item class="md-dense">
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="http://www.acq.osd.mil/dodsc/">DOD Site Clearinghose</a>
							</div>
						</md-list-item>
						<md-list-item class="md-dense">
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="http://www.repimap.org/">DOD - REPI Readiness & Environmental Integration</a>		
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="https://www.oea.gov/how-we-do-it/compatible-use/compatible-use-technical-assistance">DOD - OEA - Compatible Use Technical Assistance</a>		
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="https://wrpinfo.org/MapIntro.aspx">Western Regional Partnership - Web Mapping Application</a>		
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="http://www.eia.gov/state/maps.cfm">US Energy Information Administration: Energy Mapping Tool</a>		
							</div>
						</md-list-item>
						<md-list-item class="md-1-line">
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="https://bogi.evs.anl.gov/section368/portal/">NREL Section 368 Energy Corridor Mapping tool</a>
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="https://bogi.evs.anl.gov/solmap/portal/">NREL Solar Energy Environmental Mapper</a>
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="https://maps.nrel.gov/wind-prospector">NREL Wind Prospector</a>
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="http://en.openei.org/wiki/RAPID">NREL OpenEI - Regulatory & Permitting Desktop Toolkit</a>
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="http://www.habimap.org/habimap/">HabiMap Arizona</a>
							</div>
						</md-list-item>
						<md-list-item >
							<div class="md-list-item-text" layout="column">
							<a style="font-size: small" target="_blank" href="http://ecosystems.azurewebsites.net/WECC/">WECC- Environmental Data Viewer</a>
							</div>
						</md-list-item>
					</md-list>
				</md-content>