				<md-content layout-padding>
					<md-header layout-padding class="md-no-sticky" style="font-weight: bold">Registration information</md-header>
					<md-whiteframe class="md-whiteframe-0dp"  layout="column" layout-align="center left" style="font-size: small">
						<div class="md-subheader" style="margin-top:2em">Developer</div>
						<div class="md-subheader" style="margin-top:2em">Military planner</div>
						<div class="md-subheader" style="margin-top:2em">Local government agency</div>
						<div class="md-subheader" style="margin-top:2em">Admin</div>
						<div class="md-subheader" style="margin-top:2em">Other</div>
					</md-whiteframe>
				</md-content>
