				<md-content layout-padding>
					<md-whiteframe class="md-whiteframe-0dp" layout layout-align="center center">
						<img src="assets/images/ameup.png" width="75%" class="md-card-image" alt="image caption">
					</md-whiteframe>
					<md-header layout-padding class="md-no-sticky" style="font-weight: bold">Background/Introduction</md-header>
					<md-whiteframe class="md-whiteframe-0dp"  layout layout-align="center left" style="font-size: small">
						Continued growth of the energy sector in Arizona will carry on into our future. While this is an economic
						advantage to the state, new energy infrastructure can potentially encroach on military operations. This
						necessitates completing an early review of new projects, which are crucial to retaining our installations.
					</md-whiteframe>
					<md-whiteframe class="md-whiteframe-0dp" layout layout-align="center left" style="font-size: small">
						By 2013, Arizona ranked second in the nation for utility-scale electricity generation from solar energy,
						second only to California. By contrast, according to the Arizona Commerce Authority, because of the
						continued use of fossil fuels, more than half of all expenditures for energy leave the state and are not
						reinvested in local economies. Proper implementation and maintenance of renewable energy projects
						will reduce demand on imported fossil fuel, thus keeping more money in-state.
					</md-whiteframe>
					<md-header layout-padding class="md-no-sticky" style="font-weight: bold">What is AME-UP?</md-header>
					<md-whiteframe class="md-whiteframe-0dp"  layout layout-align="center left" style="font-size: small">
						The Arizona Military &amp; Energy Land Use Plan (AME-UP) is a Department of Defense initiative to help military installations, regulatory agencies, local governments, and renewable energy developers coordinate efforts to site renewable energy projects within the State of Arizona.
					</md-whiteframe>
			
					<md-header layout-padding class="md-no-sticky" style="font-weight: bold">Why is AME-UP necessary?</md-header>
					<md-whiteframe class="md-whiteframe-0dp"  layout layout-align="center left" style="font-size: small">
						The State of Arizona is currently the second most prolific generator of solar energy in the United States, and will continue to lead the country in 
						developing renewable energy resources. While this is an economic advantage to the state, new energy infrastructure can potentially encroach on military operations. 
						Improperly sited locations may compromise military missions, endanger military personnel, or result in costly construction delays 
						for developers and consumers. 
					</md-whiteframe>
				</md-content>
